//
// Exercise single
//

.exercise-cont {
}

.exercise-meta {
    background: $primary-color;
    color: #fff;
}

.exercise-description {

}

.exercise-padding {
    padding: 20px;
}

.exercise-video {
    margin-top: 10px;
}