//
// General styles
//

@mixin item-transition($duration) {
    -webkit-transition: ease-out $duration;
    -moz-transition: ease-out $duration;
    -o-transition: ease-out $duration;
    transition: ease-out $duration;
}


.white {
    background: $white;
}

.text-white {
    color: $white;
}

.trans-white {
    background: rgba(255, 255, 255, 0.4);
}

.minus-top {
    margin-top: -40px;
}

.outer-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inner-spacing {
    padding-top: 20px;
    padding-bottom: 20px;
}

.space-top {
    margin-top: 20px;
}

.space-bot {
    margin-bottom: 20px;
}



.front-of-house {
    z-index: 99;
}

.back-of-house {
    z-index: -99;
}

.info-box {
    h1, h2, h3, h4, h5, h6 {
        color: $primary-color;
    }
    p {
        line-height: 2;
    }
    a {
        font-weight: bold;
    }
}

.gray-bg {
    margin: 0 0 15px 0;
    background: #e2e0e0;
    opacity: 0.9;
}

.red-bg {
    background: darken($primary-color, 5%);
}

.img-border {
    border-radius: 200px;
}

.img-spacing {
    margin: 5px;
}


// Typography

.ram-title {
    z-index: -999;
    opacity: 0.1;

    @media #{$small-only} {
        margin-top: -3px;
    }
}

.b-title {
    display: inline-block;
    margin: 5px 0 30px 0;
    color: $primary-color;
    text-transform: uppercase;

    &:after {
        content: '';
        display: block;
        margin: 0 auto;
        border-bottom: 3px solid $primary-color;
        width: 50%;
        height: 8px;
    }
}

.m-title {
    color: $primary-color;
    text-transform: uppercase;
}


// random

.testimonials {
    margin-top: 50px;
}


// image related

.page-img {
    margin: 5px;
    border: 5px solid white;

    -webkit-box-shadow: 3px 3px 25px darken($primary-color, 30%);
    -moz-box-shadow: 3px 3px 25px darken($primary-color, 30%);
    box-shadow: 3px 3px 25px darken($primary-color, 30%);

    @media #{$medium-only} {
        margin-top: 35px;
    }
}

.about-img {
    width: 80%;
    height: auto;
}


// testimonials page styling

.testimonial-text {
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;

    border-left: 2px solid rgba(32, 169, 86, 0.3);
    border-top: 2px solid rgba(32, 169, 86, 0.3);

    font-size: 13px;
}

.testimonial-name {
    display: inline;
    padding: 0 8px 5px 8px;
    color: $primary-color;
    font-size: 12px;
    border-radius: 3px;

    border-right: 2px solid rgba(32, 169, 86, 0.3);
    border-bottom: 2px solid rgba(32, 169, 86, 0.3);
}

.testimonial-box {
    margin-bottom: 30px;
}


// prices page styling

.bullet-item {
    span {
        font-weight: 600;
        color: $primary-color;
    }
}